@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-float: float 6s ease-in-out infinite;
  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

body {
  background-color: #030303; 
  color: #e7e5e4;
  overflow-x: hidden;
}

/* Memastikan semua elemen interaktif juga menyembunyikan kursor bawaan */
a, button, input, textarea {
  cursor: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Efek Film Grain Mahal (Noise Sinematik) */
.noise-overlay {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  pointer-events: none;
  z-index: 9998;
  opacity: 0.04;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}